.padding {
    padding-left: 270px;
    padding-right: 270px;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
    background: #1F2937;
}

.head {
    color: #e5e7eb;
    font-size: 18px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px
}

.one {
    background: #1F2937;
    display: flex;
    padding-top: 16px;
    padding-bottom: 30px;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

h1 {
    font-size: 48px;
    color: #F9fAF8;
    font-weight: 900;
    margin-bottom: 6px;
}

.head-p {
    color: #e5e7eb;
    font-size: 18px;
    margin-top: 0;
}

.btn-blue {
    background-color: #3882f6;
    padding: 8px 30px;
    border-radius: 10px;
    color: white;
    border: 2px solid #3882f6;
}

.img {
    width: 600px;
    height: 200px;
    background: gray;
}

.two {
    padding-bottom: 60px;
}

h2 {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.square-container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.square-text {
    max-width: 140px;
    color: #828282;
}
.square {
    width: 140px;
    height: 140px;
    border: 2px solid #3882f6;
    border-radius: 10px;
    margin: auto;
}

.three {
    background: #e5e7eb;
    padding-top: 40px;
    padding-bottom: 40px;
}

h3 {
    max-width: 600px;
    text-align: left;
    margin: auto;
    font-weight: 300;
    padding-bottom: 8px;
    font-style: italic;
    font-weight: lighter;
    font-size: 26px;
    color: #1F2937;
}

h4 {
    text-align: right;
    max-width: 500px;
    margin: auto;
}

.four {
    padding-top: 60px;
    padding-bottom: 60px;
}

.blue-box {
    background: #3882f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;
    border-radius: 10px;
}

h5 {
    font-size: 30px;
    margin: 0;
    color: #F9fAF8;
}

.four-p {
    color: #F9fAF8;
}

.btn-clear {
    border: 2px solid white;
    background-color: #3882f6;
    color: white;
    padding: 8px 30px;
    border-radius: 10px;
}

footer {
    background: #1F2937;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foot-text {
    color: #F9fAF8;
}